extends layout

block content
    .container
        .section
            .row
                .col.m4
                    h1= title
                    h2 Header 2
                .col.m4
                    h2 Header 2
                .col.m4
                    h2 Header 2

